canned_flows/move/demo/definition.yml
Comment: >-
  A Flow which performs a 'move' operation on a directory by first transferring
  from a source to a destination and then deleting the directory from the
  source. The entire directory's contents, including files and subdirectories,
  will be moved to the destination and then removed from the source.
StartAt: Transfer
States:
  Transfer:
    Comment: >-
      Run the initial Transfer from Globus Tutorial Endpoint1:source_path to
      Globus Tutorial Endpoint2:destination_path
    Type: Action
    ActionUrl: "https://actions.globus.org/transfer/transfer"
    Parameters:
      source_endpoint_id: ddb59aef-6d04-11e5-ba46-22000b92c6ec
      destination_endpoint_id: ddb59af0-6d04-11e5-ba46-22000b92c6ec
      label.$: $.transfer_label
      transfer_items:
        - source_path.$: $.source_path
          destination_path.$: $.destination_path
          recursive: True
    WaitTime: 120 # 2 minutes
    ExceptionOnActionFailure: True
    Catch:
      - ErrorEquals: ["States.ALL"]
        Next: TransferFailed
    ResultPath: $.TransferResult
    Next: Delete

  Delete:
    Comment: >-
      Use Transfer to delete the source_endpoint:source_path.
    Type: Action
    ActionUrl: "https://actions.globus.org/transfer/delete"
    Parameters:
      endpoint_id: ddb59aef-6d04-11e5-ba46-22000b92c6ec
      label.$: $.delete_label
      items.=: "[`$.source_path`]"
      recursive: True
    WaitTime: 60 # 1 minute
    ExceptionOnActionFailure: True
    Catch:
      - ErrorEquals: ["States.ALL"]
        Next: DeleteFailed
    ResultPath: $.DeleteResult
    Next: AllComplete

  TransferFailed:
    Comment: Report the error and end the Flow Run
    Type: Pass
    Parameters:
      message: Transfer failed
      details.$: $.TransferResult.details
    ResultPath: $.FlowResult
    End: true

  DeleteFailed:
    Comment: Report the error and end the Flow Run
    Type: Pass
    Parameters:
      message: Deletion failed
      details.$: $.DeleteResult.details
    ResultPath: $.FlowResult
    End: true

  AllComplete:
    Comment: Report the Flow Run completed successfully
    Type: Pass
    Parameters:
      message: Move operation complete
    ResultPath: $.FlowResult
    End: true
